@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p class="h6">
        "A leitura de todos os bons livros é uma conversação com as mais honestas pessoas dos séculos passados." - René Descartes
    </p>
</div>
